

.balloon {
  background-color: #F3F3F3;
  border-radius: 5px;
  color: #373737;
  float: left;
  margin-bottom: 14px;
  padding: 24px 28px;
  position: relative;
  width: 88%;
}

.balloon-wrapper {
  margin-bottom: 30px;
  @include clearfix();
}

.balloon-arrow {
  border-color: #F3F3F3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 20px 20px 0 0;
  bottom: -20px;
  height: 0;
  left: 180px;
  position: absolute;
  width: 0;
}

.balloon p {
  width: 100%;
  font-family: serif;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 40px;
  min-height: 30px;
  text-shadow: 1px 1px 3px #E4E4E4;
}

.balloon-details {
  float: left;
  margin-left: 200px;
}

.balloon .avatar {
  bottom: -70px;
  position: absolute;
}

.icon-housemaid,
.icon-purple {
	color: $purple;
}

.icon-family,
.icon-cyan {
	color: $cyan;
}