
.wrapper {
  color: $white;
  padding: 60px;
  .lead {
    color: $white !important;
    font-size: 16.5px;
  }
  .name {
    border-top: dashed 1px;
    padding-top: 5px;
    p {
      margin: 0;
    }
  }
}

.wrapper.housemaid {
  background-color: $housemaid;
}