$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$local-font-path: "/styles/fonts/";

// Local Fonts
// -------------------------

// Import the fonts
@font-face {
  font-family: 'Museo1';
  src: url('#{$local-font-path}museo700regular.eot');
  src: url('#{$local-font-path}museo700regular.eot?#iefix') format('embedded-opentype'),
       url('#{$local-font-path}museo700regular.woff') format('woff'),
       url('#{$local-font-path}museo700regular.ttf') format('truetype'),
       url('#{$local-font-path}museo700regular.svg#museo700regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('#{$local-font-path}sansation_regular-webfont.eot');
  src: url('#{$local-font-path}sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$local-font-path}sansation_regular-webfont.woff') format('woff'),
       url('#{$local-font-path}sansation_regular-webfont.ttf') format('truetype'),
       url('#{$local-font-path}sansation_regular-webfont.svg#sansation_regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import '_variables';
@import 'sass-bootstrap/lib/bootstrap';
@import '_wrapper';
@import '_avatar';
@import '_balloon';
@import '_btn-anim';
@import '_bootswatch';
@import '_photo';
/* @import '_type'; */
